$family-sans-serif: $font-family, sans-serif
$body-size: 18px
$body-line-height: 1.5

$widescreen: 1268px
$fullhd-enabled: false

$primary: #4cb058
$primary-light: lighten($primary, 30%)
$link: $primary

$orange: #ff6e00

$box-shadow: 0 2px 3px rgba($primary, 0.3), 0 0 0 1px rgba($primary, 0.3)

@import '../../../node_modules/bulma/bulma'