// Navbar
.nav-primary,
#mega-menu-wrap-primary
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) !important

@import 'nav/logo'
@import 'nav/icons'
@import 'nav/hover'
@import 'nav/search'


@media only screen and (max-width: 930px)
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item
    margin-right: 5px

@media only screen and (max-width: 930px)
  .mega-menu > .mega-menu-item > .mega-menu-link
    font-size: 14px !important
    padding: 0 3px !important